body {
	background-color: black;
	background-repeat:no-repeat;
	background-size: 100% 100% ;
 	background-position:auto 
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}
h1{
    text-align:left;
	color: red;
}

* {
    box-sizing: border-box;
}

.error {
    color: red;
    border-color: red;
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    
	height:35%;
	width:82%;
	margin:5px 120px;
}
.col-2{
	height:50%;
	width:40%;
	margin:5px 50px;
}
.col-3{
	margin:2px 15px;
}
.col-4{
	margin:5px 0px 20px 90px;
}
.col-5{
	margin:5px 30px;
}

.container {
    background-color: #FFFFFF;
    padding: 3px 25px 13px 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}


input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(130, 26, 26);
    border-radius: 1px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #01BAEF;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);

}

.btn:hover {
    background-color: #0CBABA;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}


@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}